
/* .topSection {
  background-image: url("./assets/img1.jpg");
  height: 90vh;
  width: 100%;
  left: 0px;
  top: 107px;
  border-radius: 0px;
  background-size: 100% 100%;
} 

.s1 {
  width: 484px;
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 45px;
  line-height: 67px;  
  color: #4285F4;
}

.s2 {
} */
