.root {
  margin: 20px 0 0 0;
  /* display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center; */
  flex-direction: column;
  background-color: #ffb5b5;
  padding: 10px;
  border-radius: 8px;
  width: 100%;
}

.closebtn {
  float: right;
}