.container {
  position: fixed;
  bottom: 20px;
  right: 20px;
  padding: 10px;
  border-radius: 10px;
  background-color: #4280c7;
  width: 250px;
}

.label {
  margin: 5px;
  text-align: center;
  color: aliceblue;
  font-size: 1.1rem;
  font-weight: 500;
}

.form {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

@media (max-width: 800px) {
  .container {
    bottom: 50px;
    right: 10px;
  }
}
